@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Redressed&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /*display: flex;*/
}

.chart-container {
    width: 50%;
    margin: 20px;
}

/* .pie-container {
    width: 50%;
    margin: 20px;
} */